:root {
    --header-1-font-size: 25px;
    --nav-header-1-img-size: 40px;
    --header-2-font-size: 20px;
    --nav-header-2-img-size: 25px;
    --header-3-font-size: 16px;
    --body-2-font-size: 15px;
    --body-3-font-size: 13px;
    --card-padding: 12px;
    --card-roundness: 5px;

    --primary-color: rgb(121, 121, 255);
    --secondary-color: rgb(255, 145, 0);
    --primary-color-dark: rgb(103, 103, 219);
    --primary-color-dark2: rgb(100, 100, 212);
    --primary-color-dark3: rgb(31, 31, 136);
    --light-background: rgb(255, 255, 255);
    --light-accent: rgb(226 232 240);
    --light-accent2: rgb(220, 226, 228);
    --focus-accent: rgb(149, 188, 238);
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
}

/* For screen readers accessibility, but not visible on screen */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#master-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header-text-1 {
    font-size: var(--header-1-font-size);
    font-weight: 500;
}
.header-text-2 {
    font-size: var(--header-2-font-size);
    font-weight: 500;
}

.header-text-3 {
    font-size: var(--header-3-font-size);
    font-weight: 500;
}

.body-text-2 {
    font-size: var(--body-2-font-size);
    font-weight: 350;
}

.body-text-3 {
    font-size: var(--body-3-font-size);
    font-weight: 350;
}

#master-container nav {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: var(--primary-color);
}

#master-container header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: var(--light-background);
}

#master-container main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: var(--light-accent);
}

nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    align-content: start;
    gap: 50px;
    padding: 20px 0px 0px 15px;
    z-index: 2;
    -webkit-box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.2); 
    box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.2);
}

.nav-link,
.nav-link-header {
    color: white;
    display: grid;
    grid-template-columns: var(--nav-header-1-img-size) 1fr;
    align-items: center;
    justify-items: start;
    gap: 10px;
}

.nav-link {
    max-height: 40px;
    margin-bottom: 10px;
    text-decoration: none;
}

.nav-link-header {
    max-height: 80px;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link-header img,
.nav-link img {
    justify-self: center;
}

.nav-link img {
    height: var(--nav-header-2-img-size);
}

.nav-link-header img {
    height: var(--nav-header-1-img-size);
}

.main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

.main-grid-right {
    grid-column: 2 / 3;
    padding-left: 15px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
}

.main-grid-left {
    grid-column: 1 / 2;
    padding-left: 30px;
    padding-right: 15px;
}

.main-grid-left,
.main-grid-right {
    padding-top: 30px;
    padding-bottom: 30px;
}

.projects-grid {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    grid-gap: 40px;
}

.card {
    background-color: rgb(240, 240, 240);
    border-radius: var(--card-roundness);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3); 
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
}

.project-card {
    padding: calc(var(--card-padding) * 2);
    border-left: var(--card-roundness) solid var(--secondary-color);
}

.announcement-card {
    font-size: 15px;
    padding: calc(var(--card-padding) * 2);
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.bottom-border {
    border-bottom: solid 1px black;
}

/* padding is used instead of row-gap so the border lines can be centered*/
.announcement-card > div {
    padding: var(--card-padding) 0px;
}
.announcement-card > div:first-child {
    padding: 0px 0px var(--card-padding);
}
.announcement-card > div:last-child {
    padding: var(--card-padding) 0px 0px;
}

.profile-pic-small {
    height: 40px;
    border-radius: 50%;
}

.profile-pic-large {
    height: 80px;
    border-radius: 50%;
}

.profile-grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.trending-card {
    font-size: 15px;
    padding: calc(var(--card-padding) * 2);
    display: grid;
    grid-template-rows: repeat(3, auto);
}

#header-top {
    display: flex;
    align-items: center;
}

.search-btn {
    height: 40px;
}
.notification-btn {
    height: 40px;
    margin-left: auto;
}

input[type="search"] {
    background-color: var(--light-accent);
    padding: 10px 20px;
    height: 40px;
    border: none;
    border-radius: 20px;
}

input[type="search"]:hover {
    background-color: var(--light-accent2);
}

input[type="search"]:active,
input[type="search"]:focus {
    outline: 1px solid var(--focus-accent);
    background-color: var(--light-accent2);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.01); 
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.01);
}

header {
    padding: 20px 40px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3); 
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    z-index: 1;
}

#header-top,
#header-bottom,
#post-buttons  {
    gap: 20px;
}

#header-bottom {
    display: flex;
    align-items: center;

}

button {
    color: white;
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    box-sizing: border-box;
}

button:hover {
    background-color: var(--primary-color-dark);
}

button:active {
    outline: 1px solid var(--primary-color-dark3);
    background-color: var(--primary-color-dark2);
}

#greeting {
    margin-right: auto;
}

#post-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
