:root {
    --font-size-1: 25px;
    --font-size-2: 18px;
    --font-size-3: 15px;
    --font-size-4: 13px;
    --font-size-5: 13px;

    --nav-img-size-1: 40px;
    --nav-img-size-2: 25px;

    --card-roundness: 5px;
    --card-padding: 25px;

    --font-weight-standard: 360;
    --font-weight-bold: 500;

    --profile-pic-small: 40px;
    --profile-pic-large: 70px;

    --primary-color: hsl(240, 100%, 74%);
    --primary-color-dark: hsl(240, 62%, 63%);
    --primary-color-dark2: hsl(240, 57%, 61%);
    --secondary-color: rgb(255, 145, 0);
    --light-background: rgb(255, 255, 255);
    --light-accent: rgb(226 232 240);
    --light-accent2: rgb(220, 226, 228);
    --light-accent3: rgb(195, 200, 202);
    --focus-accent: rgb(149, 188, 238);
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: var(--font-weight-standard);
}

.font-size-1 {
    font-size: var(--font-size-1);
}

.font-size-2 {
    font-size: var(--font-size-2);
}

.font-size-3 {
    font-size: var(--font-size-3);
}

.font-size-4 {
    font-size: var(--font-size-4);
}

.font-size-5 {
    font-size: var(--font-size-5);
}

/* For screen readers accessibility, but not visible on screen */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#master-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 5fr;
    grid-template-rows: 1fr 4fr;
}

.bold-text { 
    font-weight: var(--font-weight-bold);
}

#master-container header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: var(--light-background);
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 15px;
}

#master-container main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: var(--light-accent);
}

nav {
    z-index: 2;
    -webkit-box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.2); 
    box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.2);
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: var(--primary-color);
}

.nav-grid {
    padding: 20px 60px 0px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    align-content: start;
    row-gap: 50px;
}

.nav-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.nav-link,
.nav-link-header {
    color: white;
    display: grid;
    grid-template-columns: var(--nav-img-size-1) 1fr;
    align-items: center;
    column-gap: 10px;
}

.nav-link {
    max-height: 40px;
    text-decoration: none;
    padding: 6px;
    border-radius: 30px;
    cursor: pointer;
}

.nav-link span,
.nav-link-header span {
    justify-self: start;

}

.nav-link-header {
    max-height: 80px;
}

.nav-link:hover {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    background-color: var(--primary-color-dark);
    transition: all 0.1s ease;
    /* margin: 0px 0px 0px 0px; */
    /* padding: 8px; */
    transform: scale(1.05);
}


.nav-link-header img,
.nav-link img {
    justify-self: center;
}

.nav-link img {
    height: var(--nav-img-size-2);
}

.nav-link-header img {
    height: var(--nav-img-size-1);
}

.main-grid {
    display: grid;
    grid-template-columns: 23fr 10fr;
    grid-template-rows: 1fr;
    gap: 30px;
    padding: 30px;
}

.main-grid-right {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-grid-left {
    grid-column: 1 / 2;
}

.projects-grid {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    grid-gap: 20px;
}

.card {
    background-color: var(--light-background);
    border-radius: var(--card-roundness);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3); 
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
}

.project-card {
    padding: var(--card-padding);
    border-left: var(--card-roundness) solid var(--secondary-color);
    transition: transform 0.3s ease;
}

.card-title {
    margin-bottom: 5px;
}

.project-card:hover {
    transform: scale(1.02);
}

.announcement-card {
    font-size: 15px;
    padding: calc(var(--card-padding) / 2) 0px;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.bottom-border {
    border-bottom: solid 1px var(--light-accent2);
}

/* padding is used instead of row-gap so the border lines can be centered*/
.announcement-card > div {
    padding: calc(var(--card-padding) / 2) var(--card-padding);
}
.announcement-card > div:first-child {
    padding: calc(var(--card-padding) / 2) var(--card-padding);
}
.announcement-card > div:last-child {
    padding: calc(var(--card-padding) / 2) var(--card-padding);
}

.profile-pic-small {
    height: var(--profile-pic-small);
    border-radius: 50%;
}

.profile-pic-large {
    height: var(--profile-pic-large);
    border-radius: 50%;
}

.profile-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 13px;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.trending-card {
    padding: calc(calc(var(--card-padding) / 2) * 1) 0px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 0px;
}

.trending-card > a {
    padding: 10px var(--card-padding);
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.trending-card > a,
.announcement-card > div {
    transition: background-color 0.1s ease;
}

.trending-card > a:hover,
.announcement-card > div:hover {
    background-color: var(--light-accent);
}

#header-top {
    display: flex;
    align-items: center;
}

.icon {
    height: 25px;
}

.notification-btn {
    margin-left: auto;
}

input[type="search"] {
    background-color: var(--light-accent);
    padding: 10px 20px;
    height: 40px;
    border: none;
    border-radius: 20px;
    width: auto;
}

input[type="search"]:hover {
    background-color: var(--light-accent2);
}

input[type="search"]:active,
input[type="search"]:focus {
    outline: 1px solid var(--focus-accent);
    background-color: var(--light-accent2);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.01); 
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.01);
}

header {
    padding: 20px 40px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3); 
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    z-index: 1;
}

#header-top,
#header-bottom,
#post-buttons  {
    gap: 20px;
}

#header-bottom {
    display: flex;
    align-items: center;

}

.styled-button {
    color: white;
    background-color: var(--primary-color);
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}

.styled-button:hover {
    background-color: var(--primary-color-dark);
}

.styled-button:active {
    background-color: var(--primary-color-dark2);
}

.svg-button {
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 4px;
}

.svg-button:hover {
    background-color: var(--light-accent);
}

.project-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30px); 
    grid-template-rows: auto;
    grid-template-rows: 1fr;
    justify-content: end;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

#greeting {
    margin-right: auto;
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 5px;
}

#post-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.section-title {
    margin-bottom: 11px;
}

